<script>
    let messagepx = 128
    let mesid
    document.addEventListener("DOMContentLoaded", function(event) {
        document.querySelector('#message-board').addEventListener('click', moveTo)
        //document.querySelector('#message-board').addEventListener('drag', drag)
        //document.querySelector('#DragAndDrop').addEventListener('drop', drop)
    })
    function moveTo(Event){
        let div = document.getElementById('message-board')
        let box = {left: 0, top:0}
        try {
            box = div.getBoundingClientRect();
        }catch (e) {

        }
        let x = Event.pageX - box.left - (messagepx/2);
        let y = Event.pageY - box.top - (messagepx/2);

        let e = document.getElementById("message-board")
        let modal = document.querySelector('#modal')
        let xpos = document.querySelector('#xpos')
        let ypos = document.querySelector('#ypos')

        if(y < 0)
            y = 0
        if(y > Math.round(box.height - messagepx))
            y = Math.round(box.height - messagepx)
        if(x < 0)
            x=0
        if(x > Math.round(box.width - messagepx))
            x= Math.round(box.width - messagepx)

        xpos.value = x
        ypos.value = y
        e.style.left = xpos.value + "px"
        e.style.top = ypos.value + "px"

        modal.classList.add("modal--shown")
    }

    function allowDrop(e){
        e.preventDefault()
        e.dataTransfer.dropEffect = "move"
    }

    function drag(e){
        e.dataTransfer.setData("text", e.target.outerHTML)
        e.dataTransfer.effectAllowed = "move"

        mesid = e.target.dataset.columns
    }

    function drop(e){
        e.preventDefault()
        let div = document.getElementById('message-board')
        let box = {left: 0, top:0}
        try {
            box = div.getBoundingClientRect();
        }catch (e) {

        }

        let x = e.pageX - box.left - (messagepx/2);
        let y = e.pageY - box.top - (messagepx/2);

        if(y < 0)
            y = 0
        if(y > Math.round(box.height - messagepx))
            y = Math.round(box.height - messagepx)
        if(x < 0)
            x=0
        if(x > Math.round(box.width - messagepx))
            x= Math.round(box.width - messagepx)

        xpos.value = x
        ypos.value = y

        console.log(xpos.value)
        console.log(ypos.value)

        document.getElementById("hiddenmesinput").value = mesid
        document.getElementById("hiddenyposinput").value = ypos.value
        document.getElementById("hiddenxposinput").value = xpos.value

        document.getElementById("DragAndDrop").submit()
    }
</script>

<h1>{{channel.name}}</h1>
<body id="body">
<div class="channelchoose">
    <h2 class="ChannelHeader">Channel</h2>
    {{# channels}}
    <form id="channelbase" action="/channel/{{this.name}}">
        <input id="channelbase" type="submit" value="{{this.name}}" />
    </form>
    {{/channels}}
    <form id="ichannel" method="post" action="/testichannel">
        <div class="inputchannel">
            <input name="ichannel" id="ichannel" placeholder="Enter a name for a new channel">
        </div>
        <button type="submit">Add new Channel!</button>
    </form>
</div>

<main>
    <form id="DragAndDrop" method="post" action="/messagedrob/{{channel.name}}">
        <ul class="message-board" id="message-board" ondrop="drop(event)" ondragover="allowDrop(event)">
            {{# channel}}
                {{# messages}}
                    <li class="message-board-item" id="message-board-item" data-columns="{{mesid}}" style="left: {{xpos}}px; top: {{ypos}}px" draggable="true" ondragstart="drag(event)">
                        <h3 id="author">{{author}}</h3>
                        <p id="text">{{text}}</p>
                        <input name="mesid" id="hiddenmesinput" style="visibility: hidden">
                        <input name="ypos" id="hiddenyposinput" style="visibility: hidden">
                        <input name="xpos" id="hiddenxposinput" style="visibility: hidden">
                    </li>
                {{/messages}}
            {{/channel}}
        </ul>
    </form>
</main>

<!--<div class="outputbox">
    {{# channel}}
        {{# messages}}
            <div class="message">
                <p id="author">{{author}}</p>
                <p id="text">{{text}}</p>
            </div>
        {{/messages}}
    {{/channel}}
</div>-->

<div class="userlist">
    <h2>Users</h2>
    {{# channel}}
        {{# users}}
            <div>
                <p id="user">{{name}}</p>
            </div>
        {{/users}}
    {{/channel}}
</div>

<form id="channelbase" action="/">
    <input id="channelbase" type="submit" value="LogOff" />
</form>

<div class="modal" id="modal">
    <div class="modal-container">
        <form id="inputbase" method="post" action="/channeltest/{{channel.name}}">
            <div class="inputmessage">
                <input type="number" name="xpos" id="xpos" PLACEHOLDER="Enter X Pos">
                <input type="number" name="ypos" id="ypos" PLACEHOLDER="Enter Y Pos">
                <textarea type="text" name="text" id="itext" placeholder="Enter ur Text.."></textarea>
            </div>
            <button type="submit" class="send">Send</button>
        </form>
        <form id="close" method="post" action="/channelrm/{{channel.name}}">
            <button type="submit" class="close">X</button>
        </form>
    </div>
</div>

</body>
</html>