<script>
    let messagepx = 128
    document.addEventListener("DOMContentLoaded", function(event) {
        document.querySelector('#message-board').addEventListener('click', moveTo)
    })
    function moveTo(Event){
        let div = document.getElementById('message-board')
        let box = {left: 0, top:0}
        try {
            box = div.getBoundingClientRect();
            console.log(box)
        }catch (e) {

        }
        let x = Event.pageX - box.left - (messagepx/2);
        let y = Event.pageY - box.top - (messagepx/2);

        e = document.getElementById("message-board")
        modal = document.querySelector('#modal')
        xpos = document.querySelector('#xpos')
        ypos = document.querySelector('#ypos')

        if(y < 0)
            y = 0
        if(y > Math.round(box.height - messagepx))
            y = Math.round(box.height - messagepx)
        if(x < 0)
            x=0
        if(x > Math.round(box.width - messagepx))
            x= Math.round(box.width - messagepx)

        xpos.value = x
        ypos.value = y
        e.style.left = xpos.value + "px"
        e.style.top = ypos.value + "px"

        modal.classList.add("modal--shown")
    }
</script>

<h1>{{channel.name}}</h1>
<body id="body">
<div class="channelchoose">
    <h2 class="ChannelHeader">Channel</h2>
    {{# channels}}
    <form id="channelbase" action="/channel/{{this.name}}">
        <input id="channelbase" type="submit" value="{{this.name}}" />
    </form>
    {{/channels}}
    <form id="ichannel" method="post" action="/testichannel">
        <div class="inputchannel">
            <input name="ichannel" id="ichannel" placeholder="Enter a name for a new channel">
        </div>
        <button type="submit">Add new Channel!</button>
    </form>
</div>

<main>
    <ul class="message-board" id="message-board">
        {{# channel}}
            {{# messages}}
                <li class="message-board-item" id="message-board-item" style="left: {{xpos}}px; top: {{ypos}}px">
                    <h3 id="author">{{author}}</h3>
                    <p id="text">{{text}}</p>
                </li>
            {{/messages}}
        {{/channel}}
    </ul>
</main>

<!--<div class="outputbox">
    {{# channel}}
        {{# messages}}
            <div class="message">
                <p id="author">{{author}}</p>
                <p id="text">{{text}}</p>
            </div>
        {{/messages}}
    {{/channel}}
</div>-->

<div class="userlist">
    <h2>Users</h2>
    {{# channel}}
        {{# users}}
            <div>
                <p id="user">{{name}}</p>
            </div>
        {{/users}}
    {{/channel}}
</div>

<form id="channelbase" action="/">
    <input id="channelbase" type="submit" value="LogOff" />
</form>

<div class="modal" id="modal">
    <div class="modal-container">
        <form id="inputbase" method="post" action="/channeltest/{{channel.name}}">
            <div class="inputmessage">
                <input type="number" name="xpos" id="xpos" PLACEHOLDER="Enter X Pos">
                <input type="number" name="ypos" id="ypos" PLACEHOLDER="Enter Y Pos">
                <textarea type="text" name="text" id="itext" placeholder="Enter ur Text.."></textarea>
            </div>
            <button type="submit" class="send">Send</button>
        </form>
        <form id="close" method="post" action="/channelrm/{{channel.name}}">
            <button type="submit" class="close">X</button>
        </form>
    </div>
</div>

</body>
</html>